# =========================
# Python cache files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Jupyter Notebook checkpoints
# =========================
.ipynb_checkpoints

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# Temporary files
# =========================
*.tmp
*.bak

# =========================
# IDE folders
# =========================
.vscode/
.idea/

# =========================
# Large datasets (optional)
# =========================
data/
*.csv
